* {
    line-height: 1.5em;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}
body {
    background-color: aquamarine;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.title {
    margin: 0;
    font-size: 38px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(29, 120, 180);
    text-align: center;
}
p {
    max-width: 50ch;
}